body{
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/*****Eliminar border por defecto de un botton */
input[type="button"] {
  border: none;
  }
button{
outline:none;
}
button:active { 
  outline: none;
} 
button:focus {
 outline:none;
}
/*********/

/*pa cambiar el style del scroll*/
::-webkit-scrollbar {
    width: 8px;
    height: 2px;
}

::-webkit-scrollbar-thumb {
    border:1px solid #666666;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #666666;
    /*background: rgba(0,0,0,.1);*/
}

::-webkit-scrollbar-thumb:hover {
    background: grey;
}
